*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article{
    background-color: rgb(236, 239, 243);
    border-color: black;
    border-width: thin;
    border-style: solid;
    width: 400px;
    padding: 80px 50px;
    border-radius: 45px;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}
p{
    background-color: red;
    border-color: black;
    border-width: thin;
    border-style: solid;
    width: 200px;
    padding: 15px ;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}